body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/plantbkg.jpg");
    display: flex;
}

#content {
    width: 40%;
    background: rgba(58, 84, 41, 0.37);
    padding: 5px;
}

h1 {
    background-color: #B8D4A7;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    color: black;
    text-align: center;
    transition: all 500ms ease;
    border: #00000000 solid 5px;
}

h1:hover {
    color: black;
    border: #000000 solid 5px;
    background:#B8D4A7;
}

#div-intro-content {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 30px;
}

.panel h2{
    text-align: center;
    color: black;
}

.hidden {
    display: none;
}

#form {
    display: flex;
}

#form h2 {
    text-align: center;
}

#form p {
    text-align: right;
}

#div-command-panel {
    text-align: center;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    background: #8CA17F;
    position: relative;
    transition: all 500ms ease; 
    border: #00000000 solid 5px;
}

#div-command-panel button {
    padding: 7px 7px;
    margin: 4px;
    font-size: 24px;
}

#div-command-panel:hover {
    color: black;
    border: #000000 solid 5px;
    background:#8CA17F;
}

#plant-div {
    background-color: brown;
    width: 60%;
}

.plant {
    margin: 5px;
    border: none;
    background: #B8D4A7;
    color: black;
    padding: 10px 50px 10px 70px;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease;
    border: #00000000 solid 5px;
}

.plant:hover {
    color: black;
    border: #000000 solid 5px;
    background:#B8D4A7;
}

.plant-form {
    margin: auto;
    border-radius: 10px;
    border: solid 5px black;
    padding: 40px 40px;
    background-color: #506B3D;
}

a {
    text-decoration: none;
    color: navy;
}

button {
    opacity:0.5;
}

button:hover{
    opacity:1;
}